<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>TRANSARAMA</title>
	<h:outputStylesheet library="css" name="style.css" />
	<h:outputStylesheet name="grid/grid.css" library="primefaces" />
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"/>
</h:head>

<h:body>

	<h:panelGroup layout="block" id="panelMenu">
		<ui:include src="/template/common/MenuUsuario.xhtml" />
	</h:panelGroup>

	<h:panelGroup layout="block" id="panelContenido">
		<p:messages showDetail="true" closable="true" autoUpdate="true" style="margin: 5px;"/>
		<ui:insert name="content"/>
	</h:panelGroup>

</h:body>
</html>
