<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/Template.xhtml">

	<ui:define name="content">

		<div class="ui-g">
			<div class="ui-g-12">
				<p:panel class="formContenedor">
					<h:form>
						<p:outputLabel value="Historico de Servicios:" class="titulo" />
						<p:separator />
						
						<p:panelGrid columns="5" style="width:100%">
							<p:outputLabel value="Fecha Inicio" />
							<p:calendar value="#{serviciosBean.fechaInicioReporte}"  pattern="yyyy-MM-dd"/>
							
							<p:outputLabel value="Fecha Final"/>
							<p:calendar value="#{serviciosBean.fechaFinalReporte}" pattern="yyyy-MM-dd"/>
							
							<p:commandButton value="Buscar" actionListener="#{serviciosBean.buscarListarServiciosHistorico()}" update="tablaHistoriaServicios"/>
							
						</p:panelGrid>

						<p:dataTable id="tablaHistoriaServicios" var="servicio"
							value="#{serviciosBean.listaServiciosHistorico}" rows="10"
							paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}">

							<f:facet name="{Exporters}">
								<h:commandLink>
									<p:graphicImage name="/images/excel.png" width="24" style="float: right;"/>
									<p:dataExporter type="xls" target="tablaHistoriaServicios" fileName="tablaHistoriaServicios" />
								</h:commandLink>
							</f:facet>


							<p:column headerText="ID" width="30">
								<p:outputLabel value="#{servicio.idServicio}" />
							</p:column>
							<p:column headerText="Fecha Servicio"
								filterBy="#{servicio.fechaReservacion}"
								filterMatchMode="contains">
								<p:outputLabel value="#{servicio.fechaReservacion}"/>
							</p:column>
							<p:column headerText="Tipo Servicio"
								filterBy="#{servicio.tipoServicio}" filterMatchMode="contains">
								<p:outputLabel value="#{servicio.tipoServicioDescripcion}" />
							</p:column>
							<p:column headerText="Nombre Tripulante"
								filterBy="#{servicio.usuario.nombre}" filterMatchMode="contains">
								<p:outputLabel value="#{servicio.usuario.nombre}" />
							</p:column>
							<p:column headerText="Identificacion Tripulante"
								filterBy="#{servicio.usuario.documento}"
								filterMatchMode="contains">
								<p:outputLabel value="#{servicio.usuario.documento}" />
							</p:column>
							<p:column headerText="Direccion Tripulante"
								filterBy="#{servicio.usuario.direccion}"
								filterMatchMode="contains">
								<p:outputLabel value="#{servicio.usuario.direccion}" />
							</p:column>
							<p:column headerText="Telefono"
								filterBy="#{servicio.numeroCelular}" filterMatchMode="contains">
								<p:outputLabel value="#{servicio.numeroCelular}" />
							</p:column>
							<p:column headerText="Origen"
								filterBy="#{servicio.direccion} #{servicio.direccionComplementarios}"
								filterMatchMode="contains">
								<p:outputLabel
									value="#{servicio.direccion} #{servicio.direccionComplementarios}" />
							</p:column>
							<p:column headerText="Nombre conductor"
								filterBy="#{servicio.datosConductor.nombres} #{servicio.datosConductor.apellidos}"
								filterMatchMode="contains">
								<p:outputLabel
									value="#{servicio.datosConductor.nombres} #{servicio.datosConductor.apellidos}" />
							</p:column>
							<p:column headerText="Placa"
								filterBy="#{servicio.datosMovil.placa}"
								filterMatchMode="contains">
								<p:outputLabel value="#{servicio.datosMovil.placa}" />
							</p:column>
							<p:column headerText="Estado Servicio"
								filterBy="#{servicio.estadoServicio}" filterMatchMode="contains">
								<p:outputLabel value="#{servicio.estadoServicioDescripcion}" />
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>
			</div>
		</div>
	</ui:define>
</ui:composition>
