<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/Template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<p:panel class="formContenedor">

					<p:tabView>
						<p:tab title="Listar Servicios">
							<h:form>
								<p:outputLabel value="Lista de Servicios:" class="titulo" />
								<p:separator />

								<p:dataTable id="tablaServicios" var="servicio"
									value="#{serviciosBean.listaServicios}" paginator="true"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}">

									<f:facet name="{Exporters}">
										<h:commandLink>
											<p:graphicImage name="/images/excel.png" width="24"
												style="float: right;" />
											<p:dataExporter type="xls" target="tablaServicios"
												fileName="tablaServicios" />
										</h:commandLink>
									</f:facet>
									<p:column headerText="ID">
										<p:outputLabel value="#{servicio.idServicio}" />
									</p:column>
									<p:column headerText="Fecha Servicio"
										filterBy="#{servicio.fechaReservacion}"
										filterMatchMode="contains">
										<p:outputLabel value="#{servicio.fechaReservacion}" />
									</p:column>
									<p:column headerText="Nombre Tripulante"
										filterBy="#{servicio.nombre}" filterMatchMode="contains">
										<p:outputLabel value="#{servicio.nombre}" />
									</p:column>
									<p:column headerText="Identificacion Tripulante"
										filterBy="#{servicio.usuario.documento}"
										filterMatchMode="contains">
										<p:outputLabel value="#{servicio.usuario.documento}" />
									</p:column>
									<p:column headerText="Direccion Tripulante"
										filterBy="#{servicio.usuario.direccion}"
										filterMatchMode="contains">
										<p:outputLabel value="#{servicio.usuario.direccion}" />
									</p:column>
									<p:column headerText="Telefono"
										filterBy="#{servicio.numeroCelular}"
										filterMatchMode="contains">
										<p:outputLabel value="#{servicio.numeroCelular}" />
									</p:column>
									<p:column headerText="Origen"
										filterBy="#{servicio.direccion} #{servicio.direccionComplementarios}"
										filterMatchMode="contains">
										<p:outputLabel
											value="#{servicio.direccion} #{servicio.direccionComplementarios}" />
									</p:column>
									<p:column headerText="Nombre conductor"
										filterBy="#{servicio.datosConductor.nombres} #{servicio.datosConductor.apellidos}"
										filterMatchMode="contains">
										<p:outputLabel
											value="#{servicio.datosConductor.nombres} #{servicio.datosConductor.apellidos}" />
									</p:column>
									<p:column headerText="Placa"
										filterBy="#{servicio.datosMovil.placa}"
										filterMatchMode="contains">
										<p:outputLabel value="#{servicio.datosMovil.placa}" />
									</p:column>
									<p:column headerText="Estado Servicio"
										filterBy="#{servicio.estadoServicio}"
										filterMatchMode="contains">
										<p:outputLabel value="#{servicio.estadoServicioDescripcion}" />
									</p:column>
								</p:dataTable>
								<p:poll interval="5"
									listener="#{serviciosBean.listarServiciosActivos()}"
									update="tablaServicios" process="@form" />
							</h:form>
						</p:tab>
						<p:tab title="Cargar Servicios">
							<h:form enctype="multipart/form-data">
								<p:outputLabel value="Cargar Servicios:" class="titulo" />
								<p:separator />
								<p:growl id="messages" showDetail="true" />
								<p:fileUpload
									fileUploadListener="#{serviciosBean.cargarServiciosCsv}"
									allowTypes="/(\.|\/)(txt|csv)$/" uploadLabel="Subir"
									cancelLabel="Cancelar" label="Seleccionar"
									oncomplete="#{serviciosBean.listarServiciosActivos()}">
								</p:fileUpload>
							</h:form>
						</p:tab>
						<p:tab title="Cargar Tripulacion">
							<h:form enctype="multipart/form-data">
								<p:outputLabel value="Cargar Tripulacion:" class="titulo" />
								<p:separator />
								<p:growl id="messages" showDetail="true" />
								<p:fileUpload
									fileUploadListener="#{serviciosBean.cargarTripulacionCsv}"
									allowTypes="/(\.|\/)(txt|csv)$/" uploadLabel="Subir"
									cancelLabel="Cancelar" label="Seleccionar"
									oncomplete="#{serviciosBean.listarServiciosActivos()}">
								</p:fileUpload>
							</h:form>
						</p:tab>
					</p:tabView>
				</p:panel>
			</div>
		</div>
	</ui:define>
</ui:composition>
