<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/Template.xhtml">

	<ui:define name="content">

		<f:metadata>
			<f:event type="preRenderView"
				listener="#{usuarioBean.listarUsuarios()}" />
		</f:metadata>

		<div class="ui-g">
			<div class="ui-g-12">
				<p:panel class="formContenedor">
					<h:form id="listaUsuarios">
						<p:outputLabel value="Usuarios:" class="titulo" />
						<p:commandButton icon="fa fa-plus" value="Nuevo Usuario"
							style="left: calc(100% - 17%) !important"
							oncomplete="PF('creacionNuevoUsuario').show();" />
						<p:separator />
						<br />

						<p:dataTable id="usuariosServicios" var="usuario"
							value="#{usuarioBean.listaUsuarios}" rows="10" paginator="true"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}">

							<f:facet name="{Exporters}">
								<h:commandLink>
									<p:graphicImage name="/images/excel.png" width="24"
										style="float: right;" />
									<p:dataExporter type="xls" target="usuariosServicios"
										fileName="usuariosServicios" />
								</h:commandLink>
								</f:facet>
								<p:column headerText="ID" width="20">
									<p:outputLabel value="#{usuario.idUsuario}" />
								</p:column>
								<p:column headerText="Documento" width="100"
									filterBy="#{usuario.documento}">
									<p:outputLabel value="#{usuario.documento}" />
								</p:column>
								<p:column headerText="Nombre" filterBy="#{usuario.nombre}">
									<p:outputLabel value="#{usuario.nombre}" />
								</p:column>
								<p:column headerText="Apellido" filterBy="#{usuario.apellido}">
									<p:outputLabel value="#{usuario.apellido}" />
								</p:column>
								<p:column headerText="Cargo" filterBy="#{usuario.cargo}">
									<p:outputLabel value="#{usuario.cargo}" />
								</p:column>
								<p:column headerText="Celular" width="100"
									filterBy="#{usuario.numeroCelular}">
									<p:outputLabel value="#{usuario.numeroCelular}" />
								</p:column>
								<p:column headerText="E-mail"
									filterBy="#{usuario.correoElectronico}">
									<p:outputLabel value="#{usuario.correoElectronico}" />
								</p:column>

								<p:column headerText="Acción" style="width:75px">
									<p:commandButton class="btnaccion" icon="fa fa-pencil-square-o"
										title="Modificar"
										actionListener="#{usuarioBean.cargarUsuario(usuario)}"
										oncomplete="PF('modificarUsuario').show();"
										update="actualizarUsuario" />
									<p:spacer width="2px" />
									<p:commandButton class="btnaccion" icon="fa fa-close"
										title="Cambio Estado">
										<p:confirm header="Confirmacion"
											message="Esta seguro de cambiar el estado al usuario?"
											icon="ui-icon-alert" />
									</p:commandButton>
								</p:column>
								<p:column style="width:16px">
									<p:rowToggler />
								</p:column>

								<p:rowExpansion>
									<p:dataTable var="direccion"
										value="#{usuario.listadirFavoritas}"
										style="margin-left: 10%;width:60%">
										<f:facet name="header">
											<p:commandButton class="btnaccion" icon="fa fa-plus"
												style="left: calc(60% - 12%) !important"
												oncomplete="PF('creacionNuevaDireccion').show();"
												actionListener="#{usuarioBean.cargarUsuario(usuario)}" />
										</f:facet>
										<p:column headerText="ID" width="20">
											<p:outputLabel value="#{direccion.idDireccion}" />
										</p:column>
										<p:column headerText="Direccion">
											<p:outputLabel value="#{direccion.direccion}" />
										</p:column>
										<p:column headerText="Complementarios">
											<p:outputLabel value="#{direccion.datosComplementarios}" />
										</p:column>
										<p:column headerText="Longitud">
											<p:outputLabel value="#{direccion.longitud}" />
										</p:column>
										<p:column headerText="Latitud">
											<p:outputLabel value="#{direccion.latitud}" />
										</p:column>
										<p:column headerText="Acción" style="width:75px">
											<p:commandButton class="btnaccion"
												icon="fa fa-pencil-square-o" title="Modificar"
												actionListener="#{usuarioBean.cargarDireccion(direccion)}"
												oncomplete="PF('modificarDireccion').show();"
												update="actualizarDireccion" />
											<p:spacer width="2px" />
											<p:commandButton class="btnaccion" icon="fa fa-close"
												title="Eliminar"
												actionListener="#{usuarioBean.eliminarDireccion(direccion)}">
												<p:confirm header="Confirmacion"
													message="Esta seguro eliminar la direccion?"
													icon="ui-icon-alert" />
											</p:commandButton>
										</p:column>
									</p:dataTable>
									<br />
								</p:rowExpansion>
						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Si" type="button"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>
					</h:form>
				</p:panel>
			</div>
		</div>

		<ui:include src="/pagesUsuario/Usuario/AgregarUsuario.xhtml" />
		<ui:include src="/pagesUsuario/Usuario/ModificarUsuario.xhtml" />
		<ui:include src="/pagesUsuario/Usuario/AgregarDireccion.xhtml" />
		<ui:include src="/pagesUsuario/Usuario/ModificarDireccion.xhtml" />

	</ui:define>
</ui:composition>
