<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog header="Nuevo Usuario" widgetVar="creacionNuevoUsuario" modal="true" width="36%">
		<h:form>
			<p:outputLabel value="Crear Usuario:" class="titulo" />
			<p:separator />
			<p:panelGrid columns="4">
				<h:outputText class="negrilla" value="Documento:" />
				<p:inputText value="#{usuarioBean.usuarioActivo.documento}" />

				<p:spacer />
				<p:spacer />

				<h:outputText class="negrilla" value="Nombres:" />
				<p:inputText value="#{usuarioBean.usuarioActivo.nombre}" />

				<h:outputText class="negrilla" value="Apellidos:" />
				<p:inputText value="#{usuarioBean.usuarioActivo.apellido}" />

				<h:outputText class="negrilla" value="Celular:" />
				<p:inputText value="#{usuarioBean.usuarioActivo.numeroCelular}" maxlength="10" />
				
				<h:outputText class="negrilla" value="Correo Electronico:" />
				<p:inputText value="#{usuarioBean.usuarioActivo.correoElectronico}" />
				
				<h:outputText class="negrilla" value="Cargo:" />
				<p:inputText value="#{usuarioBean.usuarioActivo.cargo}" />

			</p:panelGrid>
			<br />
			<br />
			<p:commandButton value="Agregar" style="left: calc(100% - 165px) !important" actionListener="#{usuarioBean.agregarNuevoUsuario()}" oncomplete="PF('creacionNuevoUsuario').hide();" update="listaUsuarios"/>
		</h:form>
	</p:dialog>

</ui:composition>