<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog header="Modificar Direccion" widgetVar="modificarDireccion" modal="true" width="20%" dynamic="true">
		<h:form id="actualizarDireccion">
			<p:outputLabel value="Modificar Direccion:" class="titulo" />
			<p:separator />
			<p:panelGrid columns="2">

				<h:outputText class="negrilla" value="Direccion:" />
				<p:inputText value="#{usuarioBean.direccionActivo.direccion}" />

				<h:outputText class="negrilla" value="Complemento:" />
				<p:inputText value="#{usuarioBean.direccionActivo.datosComplementarios}" />

				<h:outputText class="negrilla" value="Longitud:" />
				<p:inputText value="#{usuarioBean.direccionActivo.longitud}" />
				
				<h:outputText class="negrilla" value="Latitud:" />
				<p:inputText value="#{usuarioBean.direccionActivo.latitud}" />

			</p:panelGrid>
			<br />
			<br />
			<p:commandButton value="Modificar" style="left: calc(100% - 165px) !important" actionListener="#{usuarioBean.modificarDireccion()}" oncomplete="PF('modificarDireccion').hide();" update="listaUsuarios"/>
		</h:form>
	</p:dialog>

</ui:composition>