<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>

		<h:graphicImage class="logoEmpresa" value="/resources/images/LogoTransarama.png" />
		
		<br />
		
		<div class="top-nav">
			<ul>
				<li><p:commandLink value="Inicio" class="black" action="Inicio" />	</li>
				<li><p:commandLink value="Usuarios" class="black" action="Usuarios"/></li>
				<li><p:commandLink value="Servicios" class="black" action="Servicios"/></li>
				<li><p:commandLink value="Reportes" class="black" action="Reportes"/></li>
				<li><p:commandLink value="Salir" class="black" actionListener="#{loginBean.realizarLogout()}"/></li>
			</ul>
		</div>
	</h:form>

</ui:composition>